.section-prices {
  background-color: $color-body;
  .section__container {
    max-width: 600px;
  }
  .section__inner {
  }
}

.prices {
  &__article,
  &__disclaimer {
    box-shadow: $light-shadow;
    padding: $pd-medium $pd-small $pd-small;
    background-color: $color-white;
    border-radius: 10px;
    margin-bottom: $mg-large;

    @include mobile {
      padding: $pd-large;
      color: $color-secondary;
    }
  }

  &__disclaimer {
    text-align: center;
    color: $color-secondary;
  }

  &__heading {
    color: $color-primary;
    font-family: $font-big;
    font-size: 2.2rem;
    font-weight: 600;
    padding-bottom: $pd-large; //returns
    text-align: center;

    // @include tablet {
    //   margin-bottom: $mg-medium;
    // }
  }

  &__table {
    width: 100%;
    color: $color-secondary;
  }

  &__body {
    :not(:last-child) {
      padding-bottom: $pd-tiny;
    }
  }

  &__row {
    font-family: $font-secondary;
    font-size: 1.6rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  //   $col, $sum, $gap: $col-gutter, $align: top
  &__cell {
    &--name {
      width: 65%;
      font-weight: 500;
    }

    &--price {
      display: block;
      width: fit-content;

      color: black;
      font-size: 1.4rem;
      font-weight: 400;

      // @media only screen and (min-width: 350px) {
      //   width: 25%;
      // }
    }
  }

  &__superindex {
    vertical-align: super;
    font-size: 1.2rem;
  }
}
