.testimonials {
  &__card {
    max-width: 78.4rem;
    margin: 0 auto;
    &:not(:last-child) {
      margin-bottom: $mg-medium;
      flex-grow: 0;
    }
    @include mobile {
      display: flex;
      min-height: 120px;
    }
  }

  &__image {
    display: block !important;
    min-width: 100px;
    max-height: 100px;
    margin: 0 $mg-small;
    border-radius: 20rem;
    box-shadow: $light-shadow;
  }

  &__left {
    margin-left: $mg-small;
    padding-top: 2rem;
    flex-grow: 1;
  }

  &__name {
    font-weight: bold;
    margin-bottom: $mg-tiny;
    letter-spacing: 0.2rem;

    @include mobile {
      margin-left: -120px;
      text-align: center;
    }
  }
}
